{% extends 'base.html' %}
{% block content %}
    <div class="main-page">
        <div class="container">
            <div class="animals">
                <div class="animal">
                <p>
                    <a href="/animals/{{ animal.id}}/schedule">Забронювати прогулянку</a>
                </p>
                    <p>
                        {{ animal.name }} </br>
                        {{ animal.animal_type.type }} </br>
                        {% if animal.availability %}
                            Доступний
                        {% else %}
                            Недоступний
                        {% endif %} </br>
                        {{ animal.age }} </br>
                        {% if animal.healthy %}
                            Здоровий
                        {% else %}
                            Має вади
                        {% endif %} </br>
                        {% if animal.sex %}
                            Стать: чоловіча
                        {% else %}
                            Стать: жіноча
                        {% endif %} </br>
                        {{ animal.breed }} </br>
                        {{ animal.description }} </br>
                    </p>
                </div>
            </div>
            <div class="feedbacks">
                {% if user.is_authenticated %}
                    <form method="POST">
                        {% csrf_token %}
                        <label for="feedback">Відгук: </label>
                        {{ feedback_from }}
                        <input type="submit" value="Надіслати">
                    </form>
                {% else %}
                    <div>
                        <p>
                            Щоб залишити відгук, будь ласка, <a href="/login">Увійдіть</a>
                        </p>
                    </div>
                {% endif %}
                {% for feedback in animal_feedbacks %}
                    <div class="feedback">
                        <p>{{ feedback.animal_id.name }}</p>
                        <p>{{ feedback.title }}</p>
                        <p>{{ feedback.text }}</p>
                        <p>{{ feedback.user_id.first_name }}</p>
                        <p>{{ feedback.user_id.second_name }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}